h1{
    color: beige;
    font-size: 14;
}
h2{
    color: rgb(0, 255, 149);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    color: rgb(39, 0, 7);
    font-weight: 300;
}
ul{
    color: chocolate;
}